* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #0d0d0d;
  color: white;
}

.hero {
  min-height: 100vh;
  background: url("./Images/background.jpg") center/cover;
}

.overlay {
  background: rgba(0,0,0,0.4);
  min-height: 100vh;
  padding: 20px;
}

.logo {
  height: 70px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-menu a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero-content {
  text-align: center;
  margin-top: 100px;
}

.main-btn {
  background: orange;
  padding: 15px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
}

.calculator-section {
  padding: 50px;
}

.result-box {
  margin-top: 20px;
}
